In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('./dataset/Books.csv')
users = pd.read_csv('./dataset/Users.csv')
ratings = pd.read_csv('./dataset/Ratings.csv')

C:\Users\hiaru\AppData\Local\Temp\ipykernel_30212\836454546.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('./dataset/Books.csv')

In [3]:
users.count()

User-ID     278858
Location    278858
Age         168096
dtype: int64

In [4]:
ratings.count()

User-ID        1149780
ISBN           1149780
Book-Rating    1149780
dtype: int64

In [5]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [6]:
ratings_with_name = ratings.merge(books,on='ISBN')

In [7]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating': 'num_ratings'}, inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [8]:
avg_rating_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].agg(lambda x: x.astype(float).mean()).reset_index()
avg_rating_df.rename(columns = {'Book-Rating' : 'avg_rating'}, inplace = True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [9]:
popular_df = num_rating_df.merge(avg_rating_df, on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [10]:
popular_df = popular_df[popular_df['num_ratings'] >= 60].sort_values('avg_rating', ascending=False)
popular_df

,Book-Title,num_ratings,avg_rating
77812,Griffin &amp; Sabine: An Extraordinary Corresp...,72,6.041667
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
195672,The Little Prince,141,5.815603
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
...,...,...,...
129568,"Night Moves (Tom Clancy's Net Force, No. 3)",72,1.138889
234951,Wild Animus,2502,1.019584
233563,Whirlwind,61,1.000000
165814,Ssn,67,0.970149
77941,Ground Zero and Beyond,68,0.735294

In [11]:
popular_df = popular_df.merge(books, on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Griffin &amp; Sabine: An Extraordinary Corresp...,72,6.041667,0877017883,Nick Bantock,1991,Chronicle Books,http://images.amazon.com/images/P/0877017883.0...,http://images.amazon.com/images/P/0877017883.0...,http://images.amazon.com/images/P/0877017883.0...
1,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
2,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136369,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
3,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0786222743,J. K. Rowling,2000,Thorndike Press,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...
4,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
...,...,...,...,...,...,...,...,...,...,...
5858,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...
5859,Whirlwind,61,1.000000,0688066631,Clavell,1986,Harpercollins,http://images.amazon.com/images/P/0688066631.0...,http://images.amazon.com/images/P/0688066631.0...,http://images.amazon.com/images/P/0688066631.0...
5860,Whirlwind,61,1.000000,0380703122,James Clavell,1987,Harper Mass Market Paperbacks (Mm),http://images.amazon.com/images/P/0380703122.0...,http://images.amazon.com/images/P/0380703122.0...,http://images.amazon.com/images/P/0380703122.0...
5861,Ssn,67,0.970149,0425173534,Tom Clancy,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425173534.0...,http://images.amazon.com/images/P/0425173534.0...,http://images.amazon.com/images/P/0425173534.0...
5862,Ground Zero and Beyond,68,0.735294,1401088945,J. P. McCarthy,2003,Xlibris Corporation,http://images.amazon.com/images/P/1401088945.0...,http://images.amazon.com/images/P/1401088945.0...,http://images.amazon.com/images/P/1401088945.0...

In [12]:
popular_df = popular_df.drop_duplicates('Book-Title')[['Book-Title', 'Book-Author', 'Image-URL-M', 'num_ratings', 'avg_rating']]

In [13]:
popular_df.count()

Book-Title     1936
Book-Author    1936
Image-URL-M    1936
num_ratings    1936
avg_rating     1936
dtype: int64

In [14]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 15
top_users = x[x].index

In [15]:
top_users.size

7972

In [16]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(top_users)]

In [17]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating'] > 10
top_books = y[y].index

In [18]:
top_books.size

12495

In [19]:
top_books

Index([' Murder of a Sleeping Beauty (Scumble River Mysteries (Paperback))',
       ' Q-Space (Star Trek The Next Generation, Book 47)',
       ' Q-Zone (Star Trek The Next Generation, Book 48)', ''Salem's Lot',
       '...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR',
       '01-01-00: The Novel of the Millennium',
       '1,000 Places to See Before You Die', '10 Lb. Penalty',
       '1001 Ways to Be Romantic', '101 Dalmatians',
       ...
       'Zombies of the Gene Pool', 'Zoya',
       'Zoya's Story: An Afghan Woman's Struggle for Freedom',
       '\ Lamb to the Slaughter and Other Stories (Penguin 60s S.)"',
       '\A\" is for Alibi : A Kinsey Millhone Mystery (A Kinsey Millhone Mystery)"',
       '\O\" Is for Outlaw"',
       '\Surely You're Joking, Mr. Feynman!\": Adventures of a Curious Character"',
       'e', 'one hundred years of solitude', 'stardust'],
      dtype='object', name='Book-Title', length=12495)

In [20]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(top_books)]

In [21]:
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031125,276688,0060164220,0,Coyote Waits,Tony Hillerman,1990,Harpercollins,http://images.amazon.com/images/P/0060164220.0...,http://images.amazon.com/images/P/0060164220.0...,http://images.amazon.com/images/P/0060164220.0...
1031126,276688,0060168307,0,Sacred Clowns,Tony Hillerman,1994,Harpercollins,http://images.amazon.com/images/P/0060168307.0...,http://images.amazon.com/images/P/0060168307.0...,http://images.amazon.com/images/P/0060168307.0...
1031128,276688,0385471092,0,Mrs. Pollifax and the Second Thief,Dorothy Gilman,1993,Doubleday Books,http://images.amazon.com/images/P/0385471092.0...,http://images.amazon.com/images/P/0385471092.0...,http://images.amazon.com/images/P/0385471092.0...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...

In [22]:
test = final_ratings.drop_duplicates(subset='ISBN', keep='first')
test.count()

User-ID                24526
ISBN                   24526
Book-Rating            24526
Book-Title             24526
Book-Author            24526
Year-Of-Publication    24526
Publisher              24525
Image-URL-S            24526
Image-URL-M            24526
Image-URL-L            24526
dtype: int64

In [23]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [24]:
pt.fillna(0,inplace=True)

In [25]:
pt

User-ID,8,242,243,254,383,388,408,446,487,503,...,278356,278390,278418,278535,278563,278582,278633,278637,278843,278851
Book-Title,,,,,,,,,,,,,,,,,,,,,
Murder of a Sleeping Beauty (Scumble River Mysteries (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Q-Space (Star Trek The Next Generation, Book 47)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Q-Zone (Star Trek The Next Generation, Book 48)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
"\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
one hundred years of solitude,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
stardust,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
similarity_scores = cosine_similarity(pt)

In [ ]:
similarity_scores.shape

(12495, 12495)

In [ ]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:11]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        # item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [ ]:
recommend("Misery")

[['Insomnia', 'Stephen King'],
 ['Christine', 'Stephen King'],
 ['The Dark Half', 'Stephen King'],
 ['It', 'Stephen King'],
 ['Nightmares &amp; Dreamscapes', 'Stephen King'],
 ['The Tommyknockers', 'Stephen King'],
 ['Dolores Claiborne', 'Stephen King'],
 ['Pet Sematary', 'Stephen King'],
 ['Carrie', 'Stephen King'],
 ['The Bachman Books: Rage, the Long Walk, Roadwork, the Running Man',
  'Stephen King']]